@page "/404"
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">
            404
            <small>Page Not Found</small>
        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Index">Home</a>
            </li>
            <li class="breadcrumb-item active">404</li>
        </ol>

        <div class="jumbotron">
            <h1 class="display-1">404</h1>
            <p>The page you're looking for could not be found. Here are some helpful links to get you back on track:</p>
            <ul>
                <li>
                    <a href="/Index">Home</a>
                </li>
                <li>
                    <a href="/About">About</a>
                </li>
                <li>
                    <a href="/Services">Services</a>
                </li>
                <li>
                    <a href="/Contact">Contact</a>
                </li>
                <li>
                    Portfolio
                    <ul>
                        <li>
                            <a href="/Portfolio-1-col.">1 Column Portfolio</a>
                        </li>
                        <li>
                            <a href="/Portfolio-2-col">2 Column Portfolio</a>
                        </li>
                        <li>
                            <a href="/Portfolio-3-col">3 Column Portfolio</a>
                        </li>
                        <li>
                            <a href="/Portfolio-4-col">4 Column Portfolio</a>
                        </li>
                    </ul>
                </li>
                <li>
                    Blog
                    <ul>
                        <li>
                            <a href="/Blog-home-1">Blog Home 1</a>
                        </li>
                        <li>
                            <a href="/Blog-home-2">Blog Home 2</a>
                        </li>
                        <li>
                            <a href="/Blog-post">Blog Post</a>
                        </li>
                    </ul>
                </li>
                <li>
                    Other Pages
                    <ul>
                        <li>
                            <a href="/Full-width-page">Full Width Page</a>
                        </li>
                        <li>
                            <a href="/Sidebar">Sidebar Page</a>
                        </li>
                        <li>
                            <a href="/Faq">FAQ</a>
                        </li>
                        <li>
                            <a href="/404">404 Page</a>
                        </li>
                        <li>
                            <a href="/Pricing-table">Pricing Table</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.jumbotron -->

    </div>
    <!-- /.container -->